.hero {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: $secondary-background-color;
    text-align: center;
    padding: 200px 0px;

    &__text {
        width: 696px;
        margin: 0 auto;

        color: $secondary-ac-color;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.37;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }

}

.hero__button {
    border: $accsent-color;
    padding: 10px 32px;
    border-radius: 4px;
    margin-top: 30px;

    background-color: $accsent-color;
    color: $secondary-ac-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}